.createAccountContainer {
    background-color: #324C76; /* Match the top bar color */
    padding: 0;
    min-height: 100vh;
}

.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #324C76; /* Dark navy blue */
    padding: 10px 20px;
    color: white;
}

.appName {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.pageContent {
    background-color: #f0f1f5; /* Pale grey for the form area */
    padding: 20px; /* Add horizontal padding to align with the Desktop tab */
    margin-left:250px;
}

.errorSection
{
    border: 2px solid #d9534f; /* Red border */
    padding: 15px;
    border-radius: 8px; /* Rounded corners */
    background-color: #fff5f5; /* Light red background for the section */
    margin-top: 20px;
    margin-bottom: 20px;
}

.errorHeading {
    font-size: 20px;
    font-weight: bold;
    color: #d9534f; /* Red color for the heading */
    margin-bottom: 10px;
}

.errorMessageContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.errorIcon {
    width: 24px;
    height: 24px;
    background-color: #d9534f; /* Red background for the circle */
    color: white; /* White text for the exclamation mark */
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%; /* Make it a circle */
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorMessage {
    color: #d9534f; /* Red color for the error message */
    font-size: 16px;
    font-weight: bold;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pageTitle {
    text-align: left;
    font-size: 28px;
    font-weight: 300;
    color: #006d9a;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

.updateButton, .cancelButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #324C76; /* Match the top bar color */
    color: white; /* White text for contrast */
}

    .updateButton:hover, .cancelButton:hover {
        background-color: #2a3e5c; /* Slightly darker shade for hover effect */
    }

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

    .formGroup input,
    .formGroup select {
        width: 500px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

.mandatory {
    color: red;
}
